In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("telecom_customer_churn.csv")

In [3]:
data.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,1,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,1,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,0,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,0,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,0,Dissatisfaction,Network reliability

In [4]:
data.describe()

,Age,Number of Dependents,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status
count,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,5945.000000,5245.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000,6589.000000
mean,46.760510,0.476097,93491.504477,36.199761,-119.757670,2.020944,34.499772,25.496246,26.225929,65.030695,2432.042243,2.080938,7.169525,798.087251,3235.218082,0.716345
std,16.841362,0.968499,1857.575392,2.472459,2.155696,3.024016,23.968734,14.198424,19.565724,31.100727,2265.500080,8.125054,25.803163,853.767972,2854.600036,0.450805
min,19.000000,0.000000,90001.000000,32.555828,-124.301372,0.000000,1.000000,1.010000,2.000000,-10.000000,18.850000,0.000000,0.000000,0.000000,21.610000,0.000000
25%,33.000000,0.000000,92103.000000,33.989524,-121.788090,0.000000,12.000000,13.140000,13.000000,35.800000,544.550000,0.000000,0.000000,106.680000,835.450000,0.000000
50%,46.000000,0.000000,93526.000000,36.245926,-119.601370,0.000000,32.000000,25.720000,21.000000,71.050000,1563.900000,0.000000,0.000000,472.680000,2376.450000,1.000000
75%,60.000000,0.000000,95333.000000,38.169605,-117.967399,3.000000,57.000000,37.690000,30.000000,90.400000,4003.000000,0.000000,0.000000,1275.120000,5106.640000,1.000000
max,80.000000,9.000000,96150.000000,41.962127,-114.192901,11.000000,72.000000,49.990000,85.000000,118.750000,8684.800000,49.790000,150.000000,3564.720000,11979.340000,1.000000

In [6]:
data=data.drop(["Churn Category","Churn Reason"],axis=1)

In [7]:
data.columns

Index(['Customer ID', 'Gender', 'Age', 'Married', 'Number of Dependents',
       'City', 'Zip Code', 'Latitude', 'Longitude', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Customer Status'],
      dtype='object')

In [8]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64','uint8']
odf = data.select_dtypes(exclude=numerics)
for i in odf:
    print(i," ",data[i].unique())

Customer ID   ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-RRAMN' '9993-LHIEB'
 '9995-HOTOH']
Gender   ['Female' 'Male']
Married   ['Yes' 'No']
City   ['Frazier Park' 'Glendale' 'Costa Mesa' ... 'Kirkwood' 'Carpinteria'
 'Meadow Valley']
Offer   ['None' 'Offer E' 'Offer D' 'Offer A' 'Offer B' 'Offer C']
Phone Service   ['Yes' 'No']
Multiple Lines   ['No' 'Yes' nan]
Internet Service   ['Yes' 'No']
Internet Type   ['Cable' 'Fiber Optic' 'DSL' nan]
Online Security   ['No' 'Yes' nan]
Online Backup   ['Yes' 'No' nan]
Device Protection Plan   ['No' 'Yes' nan]
Premium Tech Support   ['Yes' 'No' nan]
Streaming TV   ['Yes' 'No' nan]
Streaming Movies   ['No' 'Yes' nan]
Streaming Music   ['No' 'Yes' nan]
Unlimited Data   ['Yes' 'No' nan]
Contract   ['One Year' 'Month-to-Month' 'Two Year']
Paperless Billing   ['Yes' 'No']
Payment Method   ['Credit Card' 'Bank Withdrawal' 'Mailed Check']

In [9]:
data = data.drop(columns=["Customer ID","City","Zip Code","Latitude","Longitude"],axis=1)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589 entries, 0 to 6588
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             6589 non-null   object
 1   Age                                6589 non-null   int64
 2   Married                            6589 non-null   object
 3   Number of Dependents               6589 non-null   int64
 4   Number of Referrals                6589 non-null   int64
 5   Tenure in Months                   6589 non-null   int64
 6   Offer                              6589 non-null   object
 7   Phone Service                      6589 non-null   object
 8   Avg Monthly Long Distance Charges  5945 non-null   float64
 9   Multiple Lines                     5945 non-null   object
 10  Internet Service                   6589 non-null   object
 11  Internet Type                      5245 non-null   object
 12  Avg Monthly GB Download            5245 non-null   float64
 13  Online Security                    5245 non-null   object
 14  Online Backup                      5245 non-null   object
 15  Device Protection Plan             5245 non-null   object
 16  Premium Tech Support               5245 non-null   object
 17  Streaming TV                       5245 non-null   object
 18  Streaming Movies                   5245 non-null   object
 19  Streaming Music                    5245 non-null   object
 20  Unlimited Data                     5245 non-null   object
 21  Contract                           6589 non-null   object
 22  Paperless Billing                  6589 non-null   object
 23  Payment Method                     6589 non-null   object
 24  Monthly Charge                     6589 non-null   float64
 25  Total Charges                      6589 non-null   float64
 26  Total Refunds                      6589 non-null   float64
 27  Total Extra Data Charges           6589 non-null   int64
 28  Total Long Distance Charges        6589 non-null   float64
 29  Total Revenue                      6589 non-null   float64
 30  Customer Status                    6589 non-null   int64
dtypes: float64(7), int64(6), object(18)
memory usage: 1.6+ MB

In [11]:
col=["Avg Monthly Long Distance Charges","Avg Monthly GB Download"]
data[col]=data[col].fillna(0)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589 entries, 0 to 6588
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             6589 non-null   object
 1   Age                                6589 non-null   int64
 2   Married                            6589 non-null   object
 3   Number of Dependents               6589 non-null   int64
 4   Number of Referrals                6589 non-null   int64
 5   Tenure in Months                   6589 non-null   int64
 6   Offer                              6589 non-null   object
 7   Phone Service                      6589 non-null   object
 8   Avg Monthly Long Distance Charges  6589 non-null   float64
 9   Multiple Lines                     5945 non-null   object
 10  Internet Service                   6589 non-null   object
 11  Internet Type                      5245 non-null   object
 12  Avg Monthly GB Download            6589 non-null   float64
 13  Online Security                    5245 non-null   object
 14  Online Backup                      5245 non-null   object
 15  Device Protection Plan             5245 non-null   object
 16  Premium Tech Support               5245 non-null   object
 17  Streaming TV                       5245 non-null   object
 18  Streaming Movies                   5245 non-null   object
 19  Streaming Music                    5245 non-null   object
 20  Unlimited Data                     5245 non-null   object
 21  Contract                           6589 non-null   object
 22  Paperless Billing                  6589 non-null   object
 23  Payment Method                     6589 non-null   object
 24  Monthly Charge                     6589 non-null   float64
 25  Total Charges                      6589 non-null   float64
 26  Total Refunds                      6589 non-null   float64
 27  Total Extra Data Charges           6589 non-null   int64
 28  Total Long Distance Charges        6589 non-null   float64
 29  Total Revenue                      6589 non-null   float64
 30  Customer Status                    6589 non-null   int64
dtypes: float64(7), int64(6), object(18)
memory usage: 1.6+ MB

In [13]:
data=data.dropna()

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4601 entries, 0 to 6587
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             4601 non-null   object
 1   Age                                4601 non-null   int64
 2   Married                            4601 non-null   object
 3   Number of Dependents               4601 non-null   int64
 4   Number of Referrals                4601 non-null   int64
 5   Tenure in Months                   4601 non-null   int64
 6   Offer                              4601 non-null   object
 7   Phone Service                      4601 non-null   object
 8   Avg Monthly Long Distance Charges  4601 non-null   float64
 9   Multiple Lines                     4601 non-null   object
 10  Internet Service                   4601 non-null   object
 11  Internet Type                      4601 non-null   object
 12  Avg Monthly GB Download            4601 non-null   float64
 13  Online Security                    4601 non-null   object
 14  Online Backup                      4601 non-null   object
 15  Device Protection Plan             4601 non-null   object
 16  Premium Tech Support               4601 non-null   object
 17  Streaming TV                       4601 non-null   object
 18  Streaming Movies                   4601 non-null   object
 19  Streaming Music                    4601 non-null   object
 20  Unlimited Data                     4601 non-null   object
 21  Contract                           4601 non-null   object
 22  Paperless Billing                  4601 non-null   object
 23  Payment Method                     4601 non-null   object
 24  Monthly Charge                     4601 non-null   float64
 25  Total Charges                      4601 non-null   float64
 26  Total Refunds                      4601 non-null   float64
 27  Total Extra Data Charges           4601 non-null   int64
 28  Total Long Distance Charges        4601 non-null   float64
 29  Total Revenue                      4601 non-null   float64
 30  Customer Status                    4601 non-null   int64
dtypes: float64(7), int64(6), object(18)
memory usage: 1.1+ MB

In [15]:
for i in data.select_dtypes(include="object"):
    if(len(data[i].unique())<3):
        state = pd.get_dummies(data[i],drop_first=True,prefix=i)
        data = pd.concat([data,state],axis=1)
        data = data.drop([i],axis=1)
    else:
        state = pd.get_dummies(data[i],prefix=i)
        data = pd.concat([data,state],axis=1)
        data = data.drop([i],axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4601 entries, 0 to 6587
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4601 non-null   int64
 1   Number of Dependents               4601 non-null   int64
 2   Number of Referrals                4601 non-null   int64
 3   Tenure in Months                   4601 non-null   int64
 4   Avg Monthly Long Distance Charges  4601 non-null   float64
 5   Avg Monthly GB Download            4601 non-null   float64
 6   Monthly Charge                     4601 non-null   float64
 7   Total Charges                      4601 non-null   float64
 8   Total Refunds                      4601 non-null   float64
 9   Total Extra Data Charges           4601 non-null   int64
 10  Total Long Distance Charges        4601 non-null   float64
 11  Total Revenue                      4601 non-null   float64
 12  Customer Status                    4601 non-null   int64
 13  Gender_Male                        4601 non-null   uint8
 14  Married_Yes                        4601 non-null   uint8
 15  Offer_None                         4601 non-null   uint8
 16  Offer_Offer A                      4601 non-null   uint8
 17  Offer_Offer B                      4601 non-null   uint8
 18  Offer_Offer C                      4601 non-null   uint8
 19  Offer_Offer D                      4601 non-null   uint8
 20  Offer_Offer E                      4601 non-null   uint8
 21  Multiple Lines_Yes                 4601 non-null   uint8
 22  Internet Type_Cable                4601 non-null   uint8
 23  Internet Type_DSL                  4601 non-null   uint8
 24  Internet Type_Fiber Optic          4601 non-null   uint8
 25  Online Security_Yes                4601 non-null   uint8
 26  Online Backup_Yes                  4601 non-null   uint8
 27  Device Protection Plan_Yes         4601 non-null   uint8
 28  Premium Tech Support_Yes           4601 non-null   uint8
 29  Streaming TV_Yes                   4601 non-null   uint8
 30  Streaming Movies_Yes               4601 non-null   uint8
 31  Streaming Music_Yes                4601 non-null   uint8
 32  Unlimited Data_Yes                 4601 non-null   uint8
 33  Contract_Month-to-Month            4601 non-null   uint8
 34  Contract_One Year                  4601 non-null   uint8
 35  Contract_Two Year                  4601 non-null   uint8
 36  Paperless Billing_Yes              4601 non-null   uint8
 37  Payment Method_Bank Withdrawal     4601 non-null   uint8
 38  Payment Method_Credit Card         4601 non-null   uint8
 39  Payment Method_Mailed Check        4601 non-null   uint8
dtypes: float64(7), int64(6), uint8(27)
memory usage: 624.5 KB

In [23]:
x=data.drop("Customer Status", axis =1).values
y=data.loc[:,"Customer Status"].values
print(x[0])
print(y)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.30, random_state=5)

[ 37.     0.     2.     9.    42.39  16.    65.6  593.3    0.     0.
 381.51 974.81   0.     1.     1.     0.     0.     0.     0.     0.
   0.     1.     0.     0.     0.     1.     0.     1.     1.     0.
   0.     1.     0.     1.     0.     1.     0.     1.     0.  ]
[1 1 0 ... 1 0 1]

In [24]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()

x_train=ss.fit_transform(x_train)
x_test=ss.fit_transform(x_test)

In [25]:
from sklearn.linear_model import LogisticRegression

reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [26]:
y_pred=reg.predict(x_test)

In [27]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

confusion_matrix(y_test, y_pred)

array([[378, 114],
       [118, 771]], dtype=int64)

In [28]:
accuracy_score(y_test, y_pred)

0.832005792903693

In [29]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.76      0.77      0.77       492
           1       0.87      0.87      0.87       889

    accuracy                           0.83      1381
   macro avg       0.82      0.82      0.82      1381
weighted avg       0.83      0.83      0.83      1381